  <% if @messages.present? %>
    <% @messages.each do |message_set| %>
      <% if message_set.present? %>
        <div class="row <%= (message_set.last_receiver?(current_user)) && message_set.last_unread? ? "unread-highlight" : "read-highlight" %>">
          <div class="span2">
            <% if message_set.receiver?(current_user) %>
              <%= message_set.sender.name %>
            <% elsif message_set.sender?(current_user) %>
              <%= message_set.receiver.name %>
            <% end %>
          </div>
          <div class="span6">
            <%= link_to "[#{message_set.project.title}] #{message_set.subject}", message_path(message_set) %>
          </div>
          <div class="span3">
            <%= message_set.updated_at.to_s(:message_date) %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
