  <% if @messages.present? %>
    <% @messages.each do |message_set| %>
      <% if message_set.present? %>
        <% if message_set.child_messages.present? %>
        <div class="row <%= (message_set.child_messages.last.to?(current_user)) && message_set.child_messages.last.unread? ? "unread-highlight" : "read-highlight" %>">
        <% else %>
        <div class="row <%= (message_set.to?(current_user)) && message_set.unread? ? "unread-highlight" : "read-highlight" %>">
        <% end %>
          <div class="span2">
            <% if message_set.to?(current_user) %>
              <%= message_set.from_user.name %>
            <% elsif message_set.from?(current_user) %>
              <%= message_set.to_user.name %>
            <% end %>
          </div>
          <div class="span6">
            <%= link_to "[#{message_set.project.title}] #{message_set.subject}", message_path(message_set) %>
          </div>
          <div class="span3">
            <%= message_set.updated_at.strftime("%Y-%m-%d %I:%M:%S %p %Z") %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
