<%- error_message = "<h2>" + pluralize(@reply_message.errors.count, "error") + " prohibited this message from being sent:</h2>" -%>
<%= get_errors(@reply_message, error_message) %>
<div id="message" class="container-fluid">
  <h4><%= "[#{@message.project.title}] #{@message.subject}" %></h4>
  <%= render_content_partial_for(@message) %>
    <hr>
  <% if @message.replies.present? %>
    <% @message.replies.each do |message| %>
      <% if message.present? && message.id.present? %>
        <%= render_content_partial_for(message) %>
        <hr>
      <% end %>
    <% end %>
  <% end %>
</div>
<div id="new-message" class="container-fluid">
  <div class="row">
    <div class="span8 offset2">
      <%= form_for @reply_message, url: create_message_path(@message) do |f| %>
        <%= f.label :message %>
        <%= f.text_area :content %>
        <%= f.submit "Reply" %>
      <% end %>
    </div>
  </div>
</div>