<%- @pledge = @project.pledges.build if @pledge.nil? -%>
<%- @rewards = @project.rewards -%>
  <div class="page-header center">
    <h2 class="text-center"><%= @project.title %></h2>
    <h5 class="text-center">By <%= @project.owner.name %></h5>
  </div>
<div class="row">
<% @pledge.requested_rewards.each_with_index do |requested_reward, index| %>
  <%= get_errors(requested_reward, "<h2>The following errors prohibited this pledge from being saved:</h2>") %>
<% end %>
  <div id="new-message" class="span8 offset1">
    <%= form_for @pledge, url: create_pledge_project_path(@project), html: { class: 'form-horizontal' } do |pledge| %>
      <div class="control-group">
        <%= pledge.label :amount, "Amount(in USD)", :class => 'control-label' %>
        <div class="controls">
          <%= pledge.text_field :amount, :class => 'text_field' %>
          <p class="help-block">Enter the amount(in US Dollars) you want to pledge for this project</p>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag :payment_mode, "Payment Mode", :class => 'control-label' %>
        <div class="controls">
          <label class="radio">
            <%= radio_button_tag :payment_mode, "Paypal" %>
            Paypal
          </label>
          <label class="radio">
            <%= radio_button_tag :payment_mode, "Stripe" %>
            Credit Card
          </label>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag :rewards, "Choose Rewards", :class => 'control-label' %>
        <div id="rewards" class="controls">

          <% if @rewards.present? %> 
            <div class="highlight">
              <% @rewards.each_with_index do |reward, index| %>
                <%- @requested_reward = @pledge.requested_rewards.build(reward: reward) -%>
                <%= pledge.fields_for :requested_rewards, @requested_reward do |rq| %>
                <label class='checkbox' style="width:300px;display: inline-block;">
                  <%= rq.check_box :reward_id, {:checked => false}, reward.id, nil %>
                  <div class="reward-info">
                    <h5>Reward #<%= index + 1 %></h5>
                    <div class="reward-details">
                      <%= render partial: 'rewards/show_fields', locals: { :reward => reward } %>
                    </div>
                  </div>
                </label>
                  <%= rq.text_field :quantity, class: 'input-small' %>
                <% end %>
              <% end %>
            </div>
          <% end %>

        </div>
      </div>

      <%= pledge.submit "Pledge" %>
    <% end %>
  </div>
</div>