  <div class="control-group">
    <%= f.label "Amount", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :minimum_amount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :estimated_delivery_on, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :estimated_delivery_on, :class => 'date_field', :start_year => Time.now.year, :order => [:month, :year]  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :quantity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :quantity, :class => 'text_field' %>
    </div>
  </div>
