<%- @time = Time.now.to_i %>
<div class="control-group">
    <label class="control-label" for="project_rewards_attributes_<%= @time %>_minimum">Amount</label>
    <div class="controls">
      <input class="text_field" id="project_rewards_attributes_<%= @time %>_minimum" name="project[rewards_attributes][<%= @time %>][minimum]" type="text" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="project_rewards_attributes_<%= @time %>_description">Description</label>
    <div class="controls">
      <textarea class="text" id="project_rewards_attributes_<%= @time %>_description" name="project[rewards_attributes][<%= @time %>][description]">
</textarea>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="project_rewards_attributes_<%= @time %>_estimated_delivery_on">Estimated delivery on</label>
    <div class="controls">
      <input id="project_rewards_attributes_<%= @time %>_estimated_delivery_on_3i" name="project[rewards_attributes][<%= @time %>][estimated_delivery_on(3i)]" type="hidden" value="1" />
<% @months = [] %>
<% (1..12).each {|m| @months << [Date::MONTHNAMES[m], m]} %>
<select id="project_rewards_attributes_<%= @time %>_estimated_delivery_on_2i" name="project[rewards_attributes][<%= @time %>][estimated_delivery_on(2i)]">
  <%= options_for_select @months, selected: Time.now.month %>
</select>
<% @years = (Time.now.year..(Time.now.year + 5)).to_a %>
<select id="project_rewards_attributes_<%= @time %>_estimated_delivery_on_1i" name="project[rewards_attributes][<%= @time %>][estimated_delivery_on(1i)]">
  <%= options_for_select @years, selected: Time.now.year %>
</select>

    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="project_rewards_attributes_<%= @time %>_limit">Limit</label>
    <div class="controls">
      <input class="text_field" id="project_rewards_attributes_<%= @time %>_limit" name="project[rewards_attributes][<%= @time %>][limit]" type="text" />
    </div>
  </div>