<%= form_tag send_email_url, :class => 'form-horizontal' do %>
  <div class="control-group">
    <%= label_tag 'emails[]', "Select Emails" %>
    <div class="controls">
      <div class="email-selection" style="width:300px;height:300px;overflow:scroll;">
        <% @contacts.each do |contact| %>
          <label class='checkbox'>
            <input id="email_<%= contact[:email] %>" type="checkbox" name="emails[]" value="<%= contact[:email] %>">
            <%= "#{contact[:name]} <#{contact[:email]}>" %>
          </label>
        <% end %>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :projects, "Select Project" %>
    <div id="projects" class="controls">
      <% count = 0 %>
      <% @projects.each do |project| %>
        <label class="radio" id="project_<%= project.id %>">
          <%= radio_button_tag :project, project.id %>
          <%= project.title %>
        </label>
        <% count = count + 1 %>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :message, "Type a message for your contacts" %>
    <div class="controls">
      <textarea name="message" id="message"></textarea>
    </div>
  </div>
  <div class="form-actions">
    <%= submit_tag "Promote My Project", :class => 'btn btn-primary'  %>
  </div>
<% end %>
