<div class="image-container">
  <% if @project.images.present? %>
    <div class="theme-default">
      <div id="slider" class="ramblingSlider">
        <% @project.images.each do |image| %>
          <%= image_tag image.attachment %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% if @story.present? %>
  <div class="highlight">
    <% cache @story do %>
      <h4>Description</h4>
      <p><%= raw_sanitized_text(@story.description) %></p>
      <h4>Risks</h4>
      <% #FIXME_AB: Since these values are entered by user, so we can't rely on it to be safe. So using raw is risky.  -%>
      <% #FIXED: Sanitized text before using with raw %>
      <p><%= raw_sanitized_text(@story.risks) %></p>
      <h4>Why we need Help</h4>
      <p><%= raw_sanitized_text(@story.why_we_need_help) %></p>
      <h4>About the Team</h4>
      <p><%= raw_sanitized_text(@story.about_the_team) %></p>
      <h4>FAQs</h4>
      <p><%= raw_sanitized_text(@story.faq) %></p>
    <% end %>
    <% if @project.youtube_video? %>
      <p><iframe title="YouTube video player" class="youtube-player" type="text/html" width="640" height="390" src="<%= @project.video_url %>" frameborder="0" allowFullScreen></iframe></p>
    <% end %>
  </div>
  <% end %>
  <% if @rewards.present? %>
  <div class="highlight">
    <h4>Rewards</h4>
    <% @rewards.each_with_index do |reward, index| %>
      <div class="reward-info">
        <h5>Reward #<%= index + 1 %></h5>
        <div class="reward-details">
          <%= render partial: 'rewards/show_fields', locals: { :reward => reward } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
