<div class="highlight high470">
  <h2 id="backer-count"><%= project.backers.count %></h2>
  <p><%= "backer".pluralize(project.backers.count) %></p>
  <h2 id="goal-required"><%= number_to_currency(project.goal) %></h2>
  <p>funding required</p>
  <h2 id="goal-achieved"><%= number_to_currency(project.pledges.sum(:amount)) %></h2>
  <p>amount funded</p>
  <div class="text-center">
    <% if logged_in? && !project.owner?(current_user) %>
      <% if @sum_of_pledges != 0 %>
        <div id="pledge-info" class="text-center">
          <%= "You have pledged #{number_to_currency(@sum_of_pledges)} for this project." %>
        </div>
      <% end %>
        <div id="pledge-button" class="large-button text-center">
          <%= link_to "Pledge for this project", pledge_project_path(project) %>
        </div>
    <% end %>
  </div>
</div>
