<% if @project.errors.any? %>
  <div id="error_explanation" class="alert alert-error">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @project, :url => form_path, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
      <p class="help-block">Enter the title of your project</p>
    </div>
  </div>
  <%= f.fields_for :images, @image do |image| %>
    <div class="control-group">
      <%= image.label :picture, :Image, :class => 'control-label' %>
      <div class="project-image">
        <div class="controls">
          <%= image.file_field :picture, :class => 'text_field' %>
          <p class="help-block">Select an image that best describes your project</p>
        </div>
      </div>
      <div class="controls">
        <div class="add-link">
          <%= link_to "Add Image", new_image_projects_path, remote: true %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :category_id, Category.all, :id, :name %>
      <p class="help-block">Select category for your project</p>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :summary, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :summary, :class => 'text_field', :maxlength => '300' %>
      <p class="help-block">Enter a short description in about 300 characters about your project</p>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :video_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.url_field :video_url, :class => 'url_field' %>
      <p class="help-block">Enter a youtube video link about your project</p>
    </div>
  </div>

  <%= f.fields_for :location, @location do |location| %>
    <div class="control-group">
      <%= location.label :name, :City, :class => 'control-label' %>
      <div class="controls">
        <%= location.text_field :name, :class => 'text_field' %>
          <p class="help-block">Enter the location of your project</p>
      </div>
    </div>
  <% end %>

  <div class="form-actions">
    <%= link_to 'Cancel', projects_path, :class => 'btn' %>
    <%= f.submit "Next >", :class => 'btn btn-primary' %>
  </div>
<% end %>
