<div class="row">
  <div id="new-message" class="span8 offset3">
    <%= form_for @message, url: create_admin_conversation_project_path(@project), remote: true do |message| %>
      <%= message.label :subject %>
      <%= message.text_field :subject %>
      <%= message.label :content, "Message" %>
      <%= message.text_area :content %>
      <%= message.submit "Send" %>
    <% end %>
  </div>
</div>