<div class="page-header">
  <h1>Discover <%=t '.title', :default => "Projects" %></h1>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <form action="<%= search_results_path %>" method="get">
        <%= text_field_tag :q, params[:q], placeholder: 'Search projects...', style: 'margin-bottom:0px;' %>
        <%= submit_tag "Search", name: nil, class: 'btn btn-primary' %>
      </form>
    </div>
  </div>
</div>
<% if @projects.present? %>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span9">
        <%= render partial: 'projects/listing', locals: { :projects => @projects } %>
        <%= will_paginate @projects %>
      </div>
      <div class="span3">
      </div>
    </div>
  </div>
<% elsif params[:q].present? %>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span9">
        <h4><%= "No Projects found containing the search term '#{ params[:q] }'" %></h4>
      </div>
      <div class="span3">
      </div>
    </div>
  </div>
<% else %>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span9">
        <h4><%= "No Projects to display" %></h4>
      </div>
      <div class="span3">
      </div>
    </div>
  </div>
<% end %>
