<%- model_class = Project -%>
  <div class="page-header center">
    <h2 class="text-center"><%= @project.title %></h2>
    <h5 class="text-center">By <%= @project.user.name %></h5>
    <div class="container-fluid">
      <ul class="nav pull-right">
        <li><%= @project.location_name  %></li>
        <% if(@project.owner_id == session[:user_id]) %>
        <li><%= link_to "Edit Project", edit_project_path(@project)  %></li>
        <% end %>
    </div>
  </div>


<div class="span8">
    <div class="image-container">
      <%= image_tag @project.image %>
    </div>

  <% if !@story.nil? %> 
  <div class="highlight">
    <h4>Story</h4>
    <p><%= @story.description %></p>
    <p><%= video_tag @story.video, size: '600x400', controls: true, autobuffer: true %></p> 
  </div>
  <% end %>
  <% if !@reward.nil? %> 
  <div class="highlight">
    <h4>Rewards</h4>
    <%= render partial: 'rewards/show_fields', locals: { :reward => @reward } %>
  </div>
  <% end %>
</div>
<div class="span3">
  <%= render partial: 'details', locals: { :project => @project } %>
  <%= render partial: 'users/fields', locals: { :user => @user } %>
</div>
