<%-  @story = @project.story -%>
<%- @rewards = @project.rewards -%>
<%- @user = @project.user -%>
  <div class="page-header center">
    <% project_title = @project.title %>
    <% project_title = "Untitled Project" if @project.title == "" %>
    <h2 class="text-center"><%= project_title %></h2>
    <h5 class="text-center">By <%= @project.user.name %></h5>
    <div class="container-fluid navbar">
      <ul class="nav pull-left">
        <li><%= link_to "Description", description_project_path(@project.id), remote: true %></li>
        <% if logged_in? && (current_user.admin? || (@project.owner?(current_user)) ) %>
          <%= menu_divider %>
          <li><%= link_to "Messages", admin_conversation_project_path(@project.id), remote: true  %></li>
        <% end %>
        <%= menu_divider %>
        <li><%= link_to "Pledgers", backers_project_path(@project.id), remote: true  %></li>
      </ul>
      <ul class="nav pull-right">
        <li class="no-link"><%= @project.location_name %></li>
        <% if(@project.owner?(current_user)) %>
          <% if !@project.rejected? && !@project.approved? %>
            <%= menu_divider %>
            <li><%= link_to "Edit Project", edit_project_path(@project.id)  %></li>
          <% elsif @project.approved? %>
            <%= menu_divider %>
            <li><%= link_to "Promote Project", contacts_import_instructions_project_path(@project) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>


<div class="span8" id="project-main">
  <%= cache @project do %>
    <%= render partial: 'description' %>
  <% end %>
</div>
<div class="span3">
  <% if logged_in? && current_user.admin? %>
    <%= render partial: 'admin/projects/details', locals: { :project => @project } %>
  <% else %>
    <%= render partial: 'details', locals: { :project => @project } %>
    <%= render partial: 'users/fields', locals: { :user => @user } %>
  <% end %>
</div>
