<%- model_class = Project -%>
  <div class="page-header center">
    <h2 class="text-center"><%= @project.title %></h2>
    <h5 class="text-center">By <%= @project.user.name %></h5>
    <div class="container-fluid">
      <ul class="nav pull-right">
        <li><%= @project.location_name  %></li>
        <% if(@project.owner_id == session[:user_id]) %>
          <li><%= link_to "Edit Project", edit_project_path(@project)  %></li>
        <% end %>
      </ul>
      <ul class="nav pull-left">
        <li><%= link_to "Description", description_project_path(@project), remote: true %></li>
        <% if (admin_signed_in? || (@project.owner_id == session[:user_id]) ) %>
          <li><%= link_to "Admin Conversation", admin_conversation_project_path(@project), remote: true  %></li>
        <% end %>
      </ul>
    </div>
  </div>


<div class="span8" id="project-main">
  <%= render partial: 'description' %>
</div>
<div class="span3">
  <% if admin_signed_in? %>
    <%= render partial: 'admin/projects/details', locals: { :project => @project } %>
  <% else %>
    <%= render partial: 'details', locals: { :project => @project } %>
    <%= render partial: 'users/fields', locals: { :user => @user } %>
  <% end %>
</div>
