<%- @pending_projects = @projects.submitted -%>
<%- @approved_projects = @projects.approved -%>
<%- @draft_projects = @projects.draft -%>
<%- @rejected_projects = @projects.rejected -%>
<div class="page-header">
  <h1>My <%=t '.title', :default => "Projects" %></h1>
</div>
<ul class="nav nav-pills tabbable">
  <li class="active"><a href="#draft-projects" data-toggle="tab">Draft Projects</a></li>
  <li><a href="#pending-projects" data-toggle="tab">Pending Projects</a></li>
  <li><a href="#rejected-projects" data-toggle="tab">Rejected Projects</a></li>
  <li><a href="#approved-projects" data-toggle="tab">Approved Projects</a></li>
</ul>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12 tab-content">
      <div id="draft-projects" class="container-fluid tab-pane active">
        <h3>Draft Projects</h3>
        <%= render partial: 'projects/listing', locals: { :projects => @draft_projects } %>
      </div>
      <div id="rejected-projects" class="container-fluid tab-pane">
        <h3>Rejected Projects</h3>
        <%= render partial: 'projects/listing', locals: { :projects => @rejected_projects } %>
      </div>
      <div id="pending-projects" class="container-fluid tab-pane">
        <h3>Projects Pending for Approval</h3>
        <%= render partial: 'projects/listing', locals: { :projects => @pending_projects } %>
      </div>
      <div id="approved-projects" class="container-fluid tab-pane">
        <h3>Approved Projects</h3>
        <%= render partial: 'projects/listing', locals: { :projects => @approved_projects } %>
      </div>
    </div>
  </div>
</div>
