<%- @pending_projects = @projects.submitted -%>
<%- @approved_projects = @projects.approved -%>
<%- @draft_projects = @projects.draft -%>
<%- @rejected_projects = @projects.rejected -%>
<div class="page-header">
  <h1>My <%=t '.title', :default => "Projects" %></h1>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="container-fluid">
        <h3>Draft Projects</h3>
        <%= render partial: 'projects/listing', locals: { :projects => @draft_projects } %>
      </div>
      <hr>
      <div class="container-fluid">
        <h3>Rejected Projects</h3>
        <%= render partial: 'projects/listing', locals: { :projects => @rejected_projects } %>
      </div>
      <hr>
      <div class="container-fluid">
        <h3>Projects Pending for Approval</h3>
        <%= render partial: 'projects/listing', locals: { :projects => @pending_projects } %>
      </div>
      <hr>
      <div class="container-fluid">
        <h3>Approved Projects</h3>
        <%= render partial: 'projects/listing', locals: { :projects => @approved_projects } %>
      </div>
    </div>
  </div>
</div>
