  <div class="control-group">
    <%= f.label :video, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :video, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :risks, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :risks, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :project_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :project_id, :class => 'text_field' %>
    </div>
  </div>
