  <div class="control-group">
    <%= f.label :video, :class => 'control-label' %>
    <div class="controls">
      <%= f.url_field :video, :class => 'url_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.cktext_area :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :risks, :class => 'control-label' %>
    <div class="controls">
      <%= f.cktext_area :risks, :class => 'text_field' %>
    </div>
  </div>
