<%= get_errors(@story) %>
<%= form_for @project, :url => create_story_project_path, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="highlight">
    <h4>Story</h4>
    <%= f.fields_for :story, @story do |builder| %>
      <%= render partial: 'stories/fields', :locals => { :f => builder } %>
    <% end %>
  </div>

  <%= render partial: 'projects/steps_covered' %>

  <div class="form-actions">
    <%= link_to "< Prev", edit_project_path(@project), :class => 'btn' %>
    <%= f.submit "Next >", :class => 'btn btn-primary' %>
  </div>
<% end %>
