<% #FIXME_AB: This story creation belongs to controller action -%>
<%- if @project.story.nil? -%>
  <%- @story = @project.build_story -%>
<%- else -%>
  <%- @story = @project.story -%>
<%- end -%>
<% if @story.errors.any? %>
  <div id="error_explanation" class="alert alert-error">
    <h2><%= pluralize(@story.errors.count, "error") %> prohibited this project from being saved:</h2>

    <ul>
    <% @story.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @project, :url => create_story_project_path, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="highlight">
    <h4>Story</h4>
    <%= f.fields_for :story, @story do |builder| %>
      <%= render partial: 'stories/fields', :locals => { :f => builder } %>
    <% end %>
  </div>

  <%= render partial: 'projects/steps_covered' %>

  <div class="form-actions">
    <%= link_to "< Prev", edit_project_path(@project), :class => 'btn' %>
    <%= f.submit "Next >", :class => 'btn btn-primary' %>
  </div>
<% end %>
