<% #FIXME_AB: I have already asked not to use such dynamic thing. Do I need to point it out at every place. Why don't you implement the same thing at all places? -%>
<% #FIXED: Removed dynamic model_class use -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Users" %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Admin</th>
      <% #FIXME_AB: Either follow I18n or don't. using 't' function at some places only? -%>
      <% #FIXED: Removing t function, except in titles and menu bar -%>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user_path(user) %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.admin? ? "Yes" : "No" %></td>
        <td>
        <% if user.id != current_user.id %>
          <%= link_to "Destroy",
                      user_path(user),
                      :method => :delete,
                      :data => { :confirm => 'Are you sure?' },
                      :class => 'btn btn-mini btn-danger' %>
        <% end %>
        <% if !user.admin? %>
          <%= link_to "Make Admin",
                      admin_make_admin_path(user),
                      :method => :post,
                      :data => { :confirm => "Are you sure you want to make user #{user.name} with email #{user.email} admin?" },
                      :class => 'btn btn-mini' %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users %>
